html, body {
}

#main {
    margin-left: 325px;
}

#calebdunn {
    font-size: 3em;
}

#main_section {
    width: 100%;
}

#face_large {
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
}

#image_and_work {
    width: 85%;
}

#website_code {
    width: 100%;
    align-content: center;
}

#website_code_img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

#featured_work_header {
    width: 100%;
    font-size: 2em;
    border-bottom: 5px solid #2d3c49;
}

/* certificates HTML design */
.my_slides {
  max-width: 32%;
  margin-left: 15px;
  padding: 2px
}

.data_science_slides {
  max-width: 32%;
}
