html, body {
    width: 100%;
    flex-grow: 1;
    font-size: 18px
}

#main_section {
    width: 100%;
}

#sidebar {
    position: absolute;
    width: 60%;
    height: 100vh;
    padding: 1.2em;
    text-align: center;
    font-weight: bold;
    transform: translate(-360px, 0);
    transition: transform 0.3s ease;
    background-color: #7d97ad;
}

ul {
    background-color: #7d97ad;
    padding: 0px;
}

.nav_item {
    padding: 5px;
    display: block;

}
li > a {
    font-weight: bold;
    font-size: 1.1em;
    color: #2d3c49;
    padding: 0;
}

li > a:visited {
    color: #2d3c49;
}

#sidebar.open {
    transform: translate(0, 0);
}

#menuitem {
    width: 10%;
    display: block;
}

#name {
    margin: auto;
    float: right;
    width: 70%;
}

#face_group {
    display: none;
}

#face_group_small {
    display: inline;
}

#face_small {
    margin: auto;
    width: 50%;
    border-radius: 50%;
    display: block;
}

#website_code {
    width: 100%;
}

#website_code_img {
    width: 80%;
    margin: auto;
    display: block
}

.work {
    margin: auto;
    width: 80%;
}

/* certificates HTML design */
.my_slides {
  max-width: 98%;
  margin: auto;
  padding: 2px
}
