html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7d97ad;
    color: #2d3c49;
    margin-right: auto;
    margin-left: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    padding: 1.2em;
}

#name {
    width: 90%;
    padding-right: 10px;

}

.nav_item {
    display: inline;
}

#menuitem {
    display: none;
    width: 0;
}

nav {
    padding-bottom: 1.1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1.2em;
  overflow: hidden;
  background-color: #2d3c49;
  border-radius: 8px;
}

li > a {
    font-weight: bold;
    font-size: 1.1em;
    padding-right: 2em;
    color: #7d97ad;
}

li > a:visited {
    color: #7d97ad;
}

#quick_pitch {
    width: 100%;
    margins: auto;
    font-weight: normal;
}

#menu {
     font-size: 30px;
}

#calebdunn {
    font-size: 1.8em;
}

.introduction {
    text-align: right;
    font-size: 1.3em;
    margin: auto;
}

a {
    text-decoration: none;
}

a:visited {
    color: #2d3c49;
}

.pictures {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.quick_pitch {
    margin: auto;
    padding-bottom: 1em;
}

#image_and_work {
    margin: auto;
}

.featured_work_div {
    margin: auto;
}

.work {
    margin: auto;
}

.underline {
    width: 100%;
    text-align: center;
    font-size: 2em;
    border-bottom: 5px solid #2d3c49;
}

figcaption {
    text-align: center;
    margin: 1em;
}
